
@{
    ViewData["Title"] = "Admin";
}

<h1>The Admin Panel</h1>

<form class="form-inline" asp-controller="Admin" asp-action="UpdateDatabasePrices">
    <button type="submit" class="btn btn-primary" >Update Database Prices</button>
</form>
