@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<br />
<h5>For contact information <a href="https://github.com/RamonWill/DataProjectCsharp" target="_blank">visit my Github page</a>.</h5>

