@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<body class="view" style="background-image: url('../images/ldn-city.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:100%;">

    <div class="text-center" style="margin-top:100px">
        @if (SignInManager.IsSignedIn(User))
        {
            <h3 class="display-4 text-primary">Welcome @User.Identity.Name</h3>
            <p>View your <a asp-controller="Portfolio" asp-action="Portfolios">Portfolios' here</a>.</p>
        }
        else
        {
            <h1 class="display-4">Welcome to DataProjectC#</h1>
            <p>Log in or Register to create equity portfolios/strategies your way!.</p>
        }

    </div>
</body>

