
@{
    ViewData["Title"] = "ForgottenPasswordConfirm";
}

<h1>ForgottenPasswordConfirm</h1>

<p>
    A link has been sent to the address you provided. Please check your email to reset your password.
</p>