@model Portfolio

<div class="modal fade" id="addPortfolio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class=" = modal-header">
                <h5 class="modal-title" id="addPortfolioLabel">Add a new Portfolio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<div class="text-danger" asp-validation-summary="All"></div>-->
                <form method="post" asp-action="AddPortfolio" asp-controller="Portfolio">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Name">Portfolio Name</label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal-portfolio">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}