
@{
    ViewData["Title"] = "Performance";
}

<h1>Performance</h1>

<!--Modal placeholder(makes the modal a part of the page's structure)-->
<div id="modal-placeholder"></div>
<div class="col-3 offset-3">
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addPortfolio" data-url="@Url.Action("AddPortfolio")">Add a new Portfolio</button>
</div>
